%title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 600;

}

%text__subtitle {
    margin-bottom: 40px;
    max-width: 600px;
    font-size: 28px;
    font-weight: 600;
}


